<a href="https://colab.research.google.com/github/Smit-2907/practicals/blob/main/practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
s2 = pd.Series((1,2,3,4))
print("\nSeries from dictionary:\n", s2)

Series from dictionary:
 0    1
1    2
2    3
3    4
dtype: int64

In [2]:
data2 = [
    ['Smit', 20, 85],
    ['Amit', 21, 90],
    ['Ravi', 19, 88]
]
df2 = pd.DataFrame(data2, columns=['Name', 'Age', 'Score'])
print("\nDataFrame from list of lists:\n", df2)

DataFrame from list of lists:
    Name  Age  Score
0  Smit   20     85
1  Amit   21     90
2  Ravi   19     88

In [3]:
import numpy as np

arr = np.array([[1, 2], [3, 4]])
df3 = pd.DataFrame(arr, columns=['Col1', 'Col2'])
print("\nDataFrame from NumPy array:\n", df3)

DataFrame from NumPy array:
    Col1  Col2
0     1     2
1     3     4

In [4]:
import pandas as pd

data = {
    'Name': ['Smit', 'Amit', 'Ravi'],
    'Age': [20, 21, 19],
    'Score': [85, 90, 88]
}
df = pd.DataFrame(data)

# Select one column
print(df)

# Select multiple columns
print(df[['Name', 'Score']])

   Name  Age  Score
0  Smit   20     85
1  Amit   21     90
2  Ravi   19     88
   Name  Score
0  Smit     85
1  Amit     90
2  Ravi     88

In [5]:
print(df.loc[0])
print("\n",df.iloc[0])

Name     Smit
Age        20
Score      85
Name: 0, dtype: object

 Name     Smit
Age        20
Score      85
Name: 0, dtype: object

In [6]:
print(df.loc[1, 'Score'])
print(df.iloc[1, 2])
print(df[df['Score'] > 85])

90
90
   Name  Age  Score
1  Amit   21     90
2  Ravi   19     88

In [7]:
# Test
# 1. Create your own DataFrame with 5 rows
data_frame = {
    'Name' : ['Smit', 'Shruti', 'Ketan', 'Pavan', 'Amit', 'Bharat'],
    'Age' : [21, 19, 20, 22, 24, 22],
    'Score' : [89, 86, 82, 50, 69, 33]
}
df = pd.DataFrame(data_frame)
print(df)
# 2. Print only names of people with score > 87
print(df[df['Score'] > 87])
# 3. Print age of the 3rd person (using iloc)
print("\n",df.iloc[2])

     Name  Age  Score
0    Smit   21     89
1  Shruti   19     86
2   Ketan   20     82
3   Pavan   22     50
4    Amit   24     69
5  Bharat   22     33
   Name  Age  Score
0  Smit   21     89

 Name     Ketan
Age         20
Score       82
Name: 2, dtype: object

In [8]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [9]:
import pandas as pd

df = pd.read_csv('/content/sample_data/mnist_test.csv')
print(df.head())

   7  0  0.1  0.2  0.3  0.4  0.5  0.6  0.7  0.8  ...  0.658  0.659  0.660  \
0  2  0    0    0    0    0    0    0    0    0  ...      0      0      0
1  1  0    0    0    0    0    0    0    0    0  ...      0      0      0
2  0  0    0    0    0    0    0    0    0    0  ...      0      0      0
3  4  0    0    0    0    0    0    0    0    0  ...      0      0      0
4  1  0    0    0    0    0    0    0    0    0  ...      0      0      0

   0.661  0.662  0.663  0.664  0.665  0.666  0.667
0      0      0      0      0      0      0      0
1      0      0      0      0      0      0      0
2      0      0      0      0      0      0      0
3      0      0      0      0      0      0      0
4      0      0      0      0      0      0      0

[5 rows x 785 columns]

In [11]:
df.to_csv('/content/sample_data/output.csv', index=False)

In [46]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Smit', 'Amit', 'Ravi', 'Ketan', None],
    'Age': [21, 22, np.nan, 20, 23],
    'Score': [85, np.nan, 75, 90, np.nan]
}
df = pd.DataFrame(data)
print(df)

    Name   Age  Score
0   Smit  21.0   85.0
1   Amit  22.0    NaN
2   Ravi   NaN   75.0
3  Ketan  20.0   90.0
4   None  23.0    NaN

In [43]:
#df.isnull() # detects if there is an nan value exists or not
#df.isnull().sum() # Gives the total number of missing values per column.
#df.dropna() # it will drop alrows with any missing values.
#df.dropna(axis=1) # Removes all cols with any missing values.
df.fillna(0)  # it will fill all nans with zero
#df['Age'].fillna(df['Age'].mean()) # replace nan's value from zero to mean of age
df['Score'].fillna(method='ffill') # replace nan's value from zero to

/tmp/ipython-input-535261324.py:7: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  df['Score'].fillna(method='ffill')

0    85.0
1    85.0
2    75.0
3    90.0
4    90.0
Name: Score, dtype: float64

In [78]:
import pandas as pd
import numpy as np

data = {
    'Name': ['Ravi', 'Anita', None, 'Zoya', 'Karan'],
    'Age': [22, None, 21, None, 25],
    'Score': [89, 75, None, 60, None]
}

df = pd.DataFrame(data)
# How many missing values are in each column?
print("mission value are in each column is: ", df.isnull().sum())
# Fill all missing 'Score' values with -1
df['Score'].fillna(-1, inplace=True)
# Fill all missing 'Age' values with the median age
df['Age'].fillna(df['Age'].median(), inplace=True)
# Drop any row where Name is missing
df.dropna(subset=['Name'], inplace=True)
# After all this, print the cleaned DataFrame
print("cleared Darafrme is:\n ",df)

mission value are in each column is:  Name     1
Age      2
Score    2
dtype: int64
cleared Darafrme is:
      Name   Age  Score
0   Ravi  22.0   89.0
1  Anita  22.0   75.0
3   Zoya  22.0   60.0
4  Karan  25.0   -1.0

/tmp/ipython-input-3047724308.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Score'].fillna(-1, inplace=True)
/tmp/ipython-input-3047724308.py:16: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].median(), inplace=True)

In [20]:
#         Basic stat and aggregation in pandas
import pandas as pd

data = {
    'Name': ['Smit', 'Shruti', 'Ketan', 'Pavan', 'Amit'],
    'Age': [21, 19, 20, 22, 24],
    'Score': [89, 86, 82, 50, 69]
}

df = pd.DataFrame(data)
# df.describe()  # Summary stats for numeric columns
# df['Score'].mean()  # Mean (average) of the 'Score'
# df['Age'].median()  # Median age
# df['Score'].max()   # Highest score
# df['Score'].min()   # Lowest score
# df['Age'].std()     # Standard deviation
# df['Age'].var()     # Variance
df.agg({
    'Age': ['mean', 'max', 'min'],
    'Score': ['mean', 'std']
})

       Age     Score
mean  21.2  75.20000
max   24.0       NaN
min   19.0       NaN
std    NaN  16.02186

In [23]:
# 1. Print average score
print(df['Score'].mean())
# 2. Print summary statistics for Age column
print(df['Age'].describe())
# 3. What is the most common score?
print(df['Score'].mode())
# 4. What is the range of ages (max - min)?
print(df['Age'].max() - df['Age'].min())

75.2
count     5.000000
mean     21.200000
std       1.923538
min      19.000000
25%      20.000000
50%      21.000000
75%      22.000000
max      24.000000
Name: Age, dtype: float64
0    50
1    69
2    82
3    86
4    89
Name: Score, dtype: int64
5

In [1]:
# groupby
# import pandas as pd

# data = {
#     'Department': ['IT', 'HR', 'IT', 'HR', 'IT', 'Finance'],
#     'Employee': ['Amit', 'Neha', 'Raj', 'Kavya', 'Ravi', 'Anil'],
#     'Salary': [60000, 50000, 65000, 48000, 62000, 70000]
# }

# df = pd.DataFrame(data)

# print(df.groupby('Department')['Salary'].mean()) # Average salary per department
# print(df.groupby('Department')['Employee'].count()) # Count of employees per department
# print(df.groupby('Department')['Salary'].max()) # Maximum salary in each department
# # Test
import pandas as pd

data = {
    'Employee': ['Amit', 'Neha', 'Ravi', 'Simran', 'Ajay', 'Tina', 'Rahul', 'Karan'],
    'Department': ['HR', 'IT', 'IT', 'HR', 'Finance', 'Finance', 'IT', 'HR'],
    'Salary': [50000, 60000, 58000, 52000, 45000, 47000, 61000, 51000]
}

df = pd.DataFrame(data)
# Print the total salary paid per department
#print(df.groupby('Department')['Salary'].sum())
# Print the average salary in the IT department only
print(df[df['Department'] == 'IT']['Salary'].mean()) # this is called boolean filtering
# Which department has the highest total salary? (print department name)
print(df.groupby('Department')['Salary'].sum().idxmax())
# Print number of employees in each department
print(df.groupby('Department')['Employee'].count())
# How many departments have more than 2 employees?
print((df.groupby('Department')['Employee'].count() > 2).sum())

59666.666666666664
IT
Department
Finance    2
HR         3
IT         3
Name: Employee, dtype: int64
2

In [10]:
# Merging / Joining DataFrames
# import pandas as pd

# # Employee Info
# employees = pd.DataFrame({
#     'EmpID': [1, 2, 3, 4],
#     'Name': ['Amit', 'Neha', 'Ravi', 'Tina']
# })

# # Salary Info
# salaries = pd.DataFrame({
#     'EmpID': [2, 4, 3, 5],
#     'Salary': [60000, 52000, 58000, 49000]
# })

# # Merge on EmpID
# merged = pd.merge(employees, salaries, on='EmpID', how='inner')
# print(merged)
# Test
students = pd.DataFrame({
    'StudentID': [101, 102, 103, 104],
    'Name': ['Alice', 'Bob', 'Charlie', 'David']
})

grades = pd.DataFrame({
    'StudentID': [102, 104, 105],
    'Grade': ['A', 'B', 'C']
})

# 1. Perform an inner join
merged = pd.merge(students, grades, on='StudentID', how = 'inner')
print("Inner join = ", merged)
# 2. Perform a left join
left_join = pd.merge(students, grades, on='StudentID', how = 'left')
print("Left join = ", left_join)
# 3. Perform an outer join
outer_join = pd.merge(students, grades, on='StudentID', how = 'outer')
print("Outer join = ", outer_join)
# 4. Print students who do not have grades (use left join + filter)
print(left_join[left_join['Grade'].isnull()])

Inner join =     StudentID   Name Grade
0        102    Bob     A
1        104  David     B
Left join =     StudentID     Name Grade
0        101    Alice   NaN
1        102      Bob     A
2        103  Charlie   NaN
3        104    David     B
Outer join =     StudentID     Name Grade
0        101    Alice   NaN
1        102      Bob     A
2        103  Charlie   NaN
3        104    David     B
4        105      NaN     C
   StudentID     Name Grade
0        101    Alice   NaN
2        103  Charlie   NaN

In [14]:
# DateTime Handling in Pandas
data = {
    'Event' : ['Exam', 'Seminar', 'Workshop', 'Hackathon'],
    'Date' : ['2025-08-01', '2025-08-05', '2025-08-07', '2023-08-10']
}
df = pd.DataFrame(data)
df['Date'] = pd.to_datetime(df['Date'])
# print(df)
print(df['Date'].dt.day_name())

0      Friday
1     Tuesday
2    Thursday
3    Thursday
Name: Date, dtype: object